[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
Django = "*"
django-cors-headers = "*"
dnspython = "*"
gunicorn = "*"
pymongo = "*"
sqlparse = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "*"
